{% extends "review/base.html" %}

{% block content %}
    <div class="container">
        <div class="row align-items-start">
            <div class="col text-center">
                <h2 class="fw-bold display-7">Inscrivez-vous maintenant</h2>
                <a class="btn btn-primary" href={% url 'register' %}>S'inscrire</a>
                {% comment %}Si message par exemple validation d'inscription{% endcomment %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col text-center align-content-center">
                <h2 class="text-center fw-bold display-7">Connectez-vous</h2>
                  <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                        <p>{{ form.username }}</p>
                        <p>{{ form.password }}</p>

                      {% if form.errors %}
                        <div class="container ">
                        {% for value in form.errors.values %}
                            {{ value }}
                        {% endfor %}
                        </div>
                      {% endif %}

                    <input class="input_right btn btn-success" type="submit" value="Se connecter" />
                    <input type="hidden" name="next" value="{{ next }}" />
                  </form>


                  {% if next %}
                    {% if user.is_authenticated %}
                      <p>Votre compte n'a pas accès à cette page. Pour continuer,
                      veuillez vous connecter avec un compte qui y a accès.</p>
                    {% else %}
                      <p>Veuillez vous connecter pour voir cette page.</p>
                    {% endif %}
                  {% endif %}

            </div>
        </div>
    </div>
{% endblock %}