<div class="container_flux bordure">
    {% if user == post.user %}
        <span>Vous avez demandé une critique</span>
    {% else %}
        <span>{{ post.user }} a demandé une critique</span>
    {% endif %}
    <span class="time_right">{{ post.time_created }}</span>
    <div class="ticket_title">{{ post.title }}</div>
    {% if  post.image %}
        <div class="ticket_img"><img src={{ post.image.url }}></div>
    {% endif %}

    {% if reply != 1 %}

        {% if user == post.user  %}
            {% if request.path != "/" %}
            <div class="input_right">
                <span><a class="btn btn-danger" href="{% url 'ticket_delete' post.id %}">Supprimer</a></span>
                <span><a class="btn btn-primary" href="{% url 'ticket_edit' post.id %}">Modifier</a> </span>
            </div>
            {% endif %}
        {% else %}
            <div class="input_right">
                <span><a class="btn btn-success" href="{% url 'reply_ticket' post.id %}">Créer une critique</a></span>
            </div>
        {% endif %}
    {% endif %}
</div>