<div class="container_flux bordure"><span>Vous avez publié une critique</span><span class="time_right">{{ post.time_created }}</span>
    <div class="review_title">{{ post.headline }} - {{ post.rating }}</div>
    <div class="review_comment">{{ post.body }}</div>
    <div class="ticket_container bordure">
        <div class="ticket_user">Ticket - {{ post.ticket.user }}</div>
        <div class="ticket_title">{{ post.ticket.title }}</div>
        <div class="ticket_img"><img src={{ post.ticket.image.path }}></div>
    </div>
</div>