<div class="container_flux bordure"><span>Vous avez publié une critique</span><span class="time_right">
    {{ post.time_created }}</span>
    <div class="review_title">Véritablement révolutionnaire - *****</div>
    <div class="review_comment">Une excellente lecture et je vous recommande vivement !</div>
    <div class="ticket_container bordure">
        <div class="ticket_user">Ticket - Jean8597</div>
        <div class="ticket_title">The Origin of Species - Charles Darwin</div>
        <div class="ticket_img"><img src="/review/img/Origin_of_Species_title_page.jpg"></div>
    </div>
</div>