{% extends 'review/base.html' %}


{% block title %}{{ title }}{% endblock %}

{% block navbar %}
    {% include 'review/snippet/nav.html' %}
{% endblock %}

{% block content %}
    <div class="container_flux">
        <section>
            <div class="center">
                <p class="center">Suivre d'autres utilisateurs</p>
                <div class="bordure">
                    <form method="post" action="{% url 'abonnement' %}">
                        {% csrf_token %}
                        <div class="col">
                            <select class="form-select" name="followed_user">
                                <option value="" selected>Sélectionnez un utilisateur</option>
                                {% for user in follow_list %}
                                    <option value="{{ user.id }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input_right input_right-right"><input class=" btn btn-success" type="submit"
                                                                          value="Envoyer"/></div>
                    </form>
                </div>
            </div>
        </section>

        <section>
            <p class="center">Abonnements</p>
            {% if followed %}
                <table>
                    {% for follow in followed %}
                        <tr>
                            <td>{{ follow.followed_user }}</td>
                            <td class="last"><a class="btn btn-primary" href="
{% url 'abonnement-delete' follow.followed_user_id %}">Se déconnecter</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="bordure">Désolé pas d'abonnements pour le moment.</div>
            {% endif %}
        </section>


        <section>

            <p class="center">Abonnés</p>
            {% if followers %}
                <table>
                    {% for follower in followers %}
                        <tr>
                            <td>{{ follower.user }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="bordure">Désolé pas d'abonnés pour le moment.</div>
            {% endif %}


        </section>
        </div>
{% endblock %}