{% extends 'review/base.html' %}
Crée une critique
{% block title %}{{ title }}{% endblock %}

{% block navbar %}
    {% include 'review/snippet/nav.html' %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container_flux">
            <div class="text-center">Créer une critique</div>
            <div class="container bordure">
                <div class="container">Livre / Article</div>
                {{ form_Ticket }}
            </div>
            <div class="container bordure">
                <div class="container">Critique</div>
                {{ form_Review }}
            <div class="input_right"><input class=" btn btn-success" type="submit" value="Envoyer"/></div>
            </div>
        </div>

    </form>


{% endblock %}