{% extends 'review/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light">
            <div id="navbarSupportedContent ">
                <ul class="navbar-nav mr-auto ">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index'%}">Flux</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'post'%}">Posts</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'abonnement'%}">Abonnements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout'%}">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </nav>
{% endblock %}

{% block content %}
        <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container_flux">
        <div class="text-center">Créer un ticket</div>
        <div class="container bordure">
           {{ form }}
            <div class="input_right"><input class=" btn btn-success" type="submit" value="Envoyer" /></div>
        </div>
    </div>
        </form>

{% endblock %}